<!-- INIZIO PAGINA  -->
<div class="landing-wrapper">




  <!-- COLORI CHE SFUMANO LA PAGINA  -->
  <div class="blob blob-purple"></div>
  <div class="blob blob-indigo"></div>
  <!-- fine COLORI   -->



  <!-- VERO RIQUADRO PAGINA PER STARE TUTTO ACCENTRATO  -->
  <div class="landing-content">
    
    <!-- LOGO -->
    <div class="brand-section">
      <h1 class="main-logo">
        SCEMU - TVC  <span class="dot"> .</span> CO
      </h1>
      <div class="accent-line"></div>
      <p class="hero-subtitle">
        Sistemi Avanzati di Gestione Magazzino e Ordini
      </p>
    </div>
    <!-- fine LOGO -->


<!-- intro-card -->

    <div class="intro-grid">
      <div class="intro-card">
        <i class="bi bi-shield-check"></i>
        <h3>Sicurezza</h3>
        <p>Accesso criptato e gestione dati centralizzata.</p>
      </div>
      <div class="intro-card">
        <i class="bi bi-lightning-charge"></i>
        <h3>Velocità</h3>
        <p>Monitoraggio stock in tempo reale.</p>
      </div>
      <div class="intro-card">
        <i class="bi bi-graph-up-arrow"></i>
        <h3>Controllo</h3>
        <p>Analisi completa del flusso ordini.</p>
      </div>
    </div>

<!-- FINE  intro-card -->


<!-- LOGGIN BUTTON  -->
    <div class="login-placeholder">
      <p>Pronto per iniziare?</p>
      <button class="btn-start"[routerLink]="['/login']">
        IDENTIFICATI PER ACCEDERE <i class="bi bi-chevron-right"></i>
      </button>
    </div>
<!-- FINE  LOGGIN BUTTON  -->





  </div>
    <!-- FINE RIQUADRO PAGINA PER STARE TUTTO ACCENTRATO  -->

</div>

<!-- FINE PAGINA  -->
