<div class="login-wrapper">
  <div class="bg-grid"></div>
  <div class="bg-glow"></div>

  <div class="login-card">
    <div class="card-header-custom">
      <span class="logo">
        <img src="errore-404.jpeg" alt="Errore" style="max-width: 180px; border-radius: 12px; margin-bottom: 20px;">
      </span>
    
      <p style="color: #f0f0ff; font-weight: 600;">Oops! Pagina non trovata.</p>
      <p style="color: #6b6b85; font-size: 0.9rem;">Sembra che tu abbia preso una strada sbagliata nel sistema.</p>
    </div>

    <div class="d-flex mt-4" style="margin-top: 2rem;">
      <button routerLink="/home" class="btn-login" style="width: 100%;">
        <span>TORNA ALLA HOME</span>
        <i class="bi bi-house-door ms-2"></i>
      </button>
    </div>
  </div>
</div>